.Signin{
    margin-left: 100px;
    margin-top: 100px;
    color: aliceblue;
}
.email-input{
    margin-left: 12px;
    margin-top: 10px;
}
.password-input{
    margin-left: 12px;
    margin-top: 10px;
}
input{
    width: 50vw;
    border-radius: 5px;
    margin-top: 10px;
    height: 2vw;
}
.Submit-btn{
    background-color: #50a1ff;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    height: 44px;
    align-content: center;
    padding: 5px;
    margin-left: 284px;
    margin-top: 10px;
    width: 15vw;
    cursor: pointer;
}
.h4-signup{
    margin-left: 295px;
    width: 300px;
}
.p{
    font-size: small;
    margin-top: -5px;
    margin-left: 265px;
}
.f{
    margin-left: 535px;
    cursor: pointer;
}