.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.DB-btn, .logout-btn {
    background-color: #ffffff;
    border: 2px solid #50a1ff;
    color: #50a1ff;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    height: 44px;
    padding: 5px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.DB-btn:hover, .logout-btn:hover {
    background-color: #50a1ff;
    color: #ffffff;
}

.content {
    color: gray;
    text-align: center;
    margin-top: 50px;
}

.Thankyou {
    background: linear-gradient(135deg, #1a1a1a, #2d2d2d);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    color: white;
}

.imagethank {
    margin-top: 100px;
}
